<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="container">
  <h1>Hi, <br /> I am Stefanni!</h1>
</div>

<p>I finished my Agile Web Development with Rails 5.1 tutorial!</p>
<p>The source code and a more detailed README are available on my <a href="http://www.github.com/stefannibrasil">Github page</a></p>
<p>You can find more about me on my <a href="http://stefannibrasil.me">blog</a> and <a href="http://www.twitter.com/steff_br">Twitter</a>.</p>
<p> My email is stefannibrasil at gmail dot com :)</p>
